.project{
    display: flex;
    padding: 0 130px;
    height: 1024px;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}

.colors_even{
    background-color: #00ADB5;
    color:#EEEEEE;
}
.colors_odd{
    background-color: #EEEEEE;
    color:#000;
}

.project h1{
    font-size: 64px;
    margin-top: 130px;
    margin-bottom: 60px;
    font-family: 'Outfit', sans-serif;
}

.project_images{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.project_image{
    position: relative;
    height: 291px;
    width: 25vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project_image img{
    border-radius: 0px;
}