.tools_images{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 25%;
    height: 280px;
    border-radius: 30px;
    flex-direction: column;
}

.colors_odd{
    background-color: #00ADB5;
    color: #EEEEEE;
}
.colors_even{
    background-color: #EEEEEE;
    color: #000;
}

.tools_images p{
    display: inline-block;
    width: 100%;
    margin: 25px 0;
    font-size: 28px;
    font-family: 'Outfit', sans-serif;
}

.photos_of_tools{
    display: flex;
    width: 280px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 20px;
    row-gap: 20px;
}

.photos_of_tools img{
    border-radius: 10px;
}