.filtered_blog_list{
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 480px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    align-items: center;
}

.blue_page{
    background-color: #EEEEEE;
}

.white_page{
    background-color: #00ADB5;
}