.left_text_right_photo{
    display: flex;
    padding: 0 130px;
    height: 1024px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    column-gap: 40px;
    background-color: #00ADB5;
    color: #EEEEEE;
}

.left_text_right_photo h1{
    font-size: 72px;
    font-family: 'Outfit', 'sans-serif';
    margin-bottom: 80px;
}

.left_text_right_photo p{
    font-size: 28px;
    font-family: 'Inter';
    margin-bottom: 80px;
}

.left_text_right_photo img{
    margin-top: 80px;
    border-radius: 60px;
}

.left_text_right_photo .link{
    display: flex;
    width: 100%;
    justify-content: center;
}


.left_text_right_photo a{
    display: block;
    width: 380px;
    height: 70px;
    padding-top: 30px;
    text-decoration: none;
    border-radius: 30px;
    border: none;
    font-size: 28px;
    font-family: 'Outfit', 'sans-serif';
    color:#000;
    background-color: #EEEEEE;
    transition: color, background-color 0.3s ;
    cursor: pointer;
}

.left_text_right_photo a:hover{
    color:#EEEEEE;
    background-color: #000;
}