.right_text_left_photo{
    display: flex;
    padding: 0 130px;
    height: 1024px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    column-gap: 40px;
    background-color: #EEEEEE;
    color: #000;
}

.right_text_left_photo h1{
    font-size: 72px;
    font-family: 'Outfit', 'sans-serif';
    margin-bottom: 80px;
}

.right_text_left_photo p{
    font-size: 28px;
    font-family: 'Inter';
    margin-bottom: 80px;
}

.right_text_left_photo img{
    margin-top: 40px;
    border-radius: 60px;
}


.right_text_left_photo .link{
    display: flex;
    width: 100%;
    justify-content: center;
}


.right_text_left_photo a{
    width: 380px;
    height: 70px;
    padding-top: 30px;
    text-decoration: none;
    border-radius: 30px;
    border: none;
    font-size: 28px;
    font-family: 'Outfit', 'sans-serif';
    background-color: #393E46;
    color:#EEEEEE;
    transition: color, background-color 0.3s ;
    cursor: pointer;
}

.right_text_left_photo a:hover{
    color:#000;
    background-color: #00ADB5;
}