.blogposts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    justify-content: flex-start;
    column-gap: 35px;
    row-gap: 0px;
}

.small{
    padding: 0 47.5px;
    padding-top: 40px;
}

.big{
    padding: 0 50px;
    padding-top: 40px;
}