.blogposts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    
    justify-content: flex-start;
    align-items: left;
    column-gap: 35px;
    row-gap: 0px;
}

.small{
    width: 710px;
    padding: 0 50px;
    padding-top: 40px;
}

.big{
    width: 1100px;
    padding-left: 20px;
    padding-top: 40px;
}