.desc_tools_links{
    display: flex;
    margin-top: 0;
    margin-bottom: 20px;
    flex-direction: row;
    justify-content: space-between;
}

.desc_tools_links p{
    margin-top: 0;
    font-size: 28px;
    font-family: 'Outfit', 'sans-serif';
    width: 45%;
}